.contact-container{
    margin: 4rem 0;
    position: relative;
}

.contact-container h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}


.contact-content{
    display: flex;
    gap: 3rem;
}

.contact-content-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


@media (max-width: 800px){

    .contact-content{
        flex-direction: column-reverse;
    }

    .contact-container h5{
        font-size: 1.3rem;
        margin-bottom: 0rem;
    }

    .contact-content-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
    }
}

